// variables
blue = #59ABE3
blue2 = #59ABE3
blue3 = #89C4F4

temp-size = 3.5em

//mixin

font-weather-shadow()	
	text-shadow 2px 2px blue
	

body 
	font-family 'Lato', sans-serif !important
	color #fff
	
#top-site
	background-color blue
	text-transform uppercase
	background-image url('../img/clouds.jpg');
	background-attachment fixed
	background-size cover
	height 500px
		
#main-site	
	color blue
	
header
	padding 20px
	border-radius 10px
	h1
		font-size 5em
		margin-top 2em
		font-weather-shadow()
	h2
		font-size 3em
		font-weight 100
		text-align right
		padding-top 20px
		font-weather-shadow()
	


#weather-info 
	margin-top 50px
	padding 20px
	border-top 1px solid white
	#city-name
		font-size 5em
		font-weight 100
		border-left 1px solid blue
		border-right 1px solid blue
	#city-temp
		padding-top 1em
		font-size 1.5em
		width temp-size
		height temp-size
		margin 0 auto
		border-radius 100%
		border 1px solid blue
		cursor pointer
	#city-weather-desc
		font-size 1.5em
	.spin-waiter
		display block
		font-size 17px
		animation-name spin-waiter
		animation-duration 1s
	#anim-weather-icon
		display block
		animation-name anim-weather-icon
		animation-duration 3s
		animation-iteration-count infinite
		animation-direction alternate
		animation-timinig-function easy-out
	> div
		margin-top 20px	

	i
		color blue2
		font-size 9em
	

footer
	margin-top 50px
	margin-bottom 20px
	

@keyframes spin-waiter {
	0%{
		
	}
	
	100% {
		transform rotate(360deg)
	}
}

@keyframes anim-weather-icon {
	0% {
		
	}
	
	100% {
		color blue3
		transform scale(0.7,0.7)
	}
}