body 
	font-family 'Lato', sans-serif !important
	background-image url('../img/bg.png');
	color #fff
header
	margin-top 40px
	padding 20px
	box-shadow 2px 4px 30px -9px white
	border-radius 10px

h1
	font-size 3em
	


#weather-info 
	margin-top 50px
	padding 20px
	border-top 1px solid white
	#city-temp
		font-size 1.5em
		

i
	font-size 3em