
.icon-spin3:before { content: '\e800'; } /* '' */
.icon-mist:before { content: '\e801'; } /* '' */
.icon-wind-1:before { content: '\e802'; } /* '' */
.icon-fog-sun:before { content: '\e803'; } /* '' */
.icon-fog-cloud:before { content: '\e804'; } /* '' */
.icon-fog:before { content: '\e805'; } /* '' */
.icon-sun:before { content: '\e806'; } /* '' */
.icon-sun-filled:before { content: '\e807'; } /* '' */
.icon-cloud:before { content: '\e808'; } /* '' */
.icon-rain:before { content: '\e809'; } /* '' */
.icon-cloud-sun:before { content: '\e80a'; } /* '' */
.icon-drizzle:before { content: '\e80b'; } /* '' */
.icon-snow:before { content: '\e80c'; } /* '' */
.icon-cloud-flash:before { content: '\e80d'; } /* '' */
.icon-wind:before { content: '\e80e'; } /* '' */
.icon-cloud-wind:before { content: '\e80f'; } /* '' */
.icon-temperatire:before { content: '\e810'; } /* '' */
.icon-na:before { content: '\e812'; } /* '' */
.icon-moon:before { content: '\e813'; } /* '' */